.brandStoryContainer {
    @screen lg {
      padding-top: 80px;
    }
}

.brandStoryImageContainer {
    @apply relative;
    @apply w-full;
    padding-bottom: 50%;

    img {
        @apply absolute;
        @apply w-full;
        @apply h-full;
        // @apply object-cover;
    }
}

.brandStory_Heading {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;

    h3 {
        @apply text-white;
        @apply text-center;
        @apply relative;
        text-transform: uppercase;
        margin-top: 10px;

        @screen lg {
            margin-top: 0;
        }
    }

    @screen lg {
        padding-top: 100px;
    }
}

.brandStory_Content {
    max-width: 770px;

    > p:last-child {
        margin-top: 15px;
      }

    h3 {
        color: #d1d5db;
    }
}

.coreValueWrapper {
    max-width: unset;
    padding: 0;
}

.groupCardContainer {
    padding: 30px 0 0;
  
    @screen lg {
      padding-top: 60px;
    }
}

.coreValueBlock {
    height: 56vw !important;
    > div {
      height: 100%;
    }
  
    @screen lg {
      height: calc(62.5vw / 2) !important;
    }
}

.coreValueContainer {
    > h3 {
      @apply text-white;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }

.cardWrapper {
    flex-direction: unset;
    padding: 15px 0;

    h5 {
        @apply text-white;
    }
  
    @screen lg {
      padding: 0 15px;
    }
}

.cardIconContainer {
    @apply flex;
    @apply justify-center;
    @apply items-center;
    @apply bg-yellow-500;
    border-radius: 50%;
    padding: 20px;

    img {
        width: 30px;
        height: 30px;
    }
}