.highLightFirst {
  height: 111.11111vh;
}

.cardWrapper {
  padding: 15px 0;                       
  flex-direction: unset;

    @screen lg {
      padding: 0 15px;
    }
}

.productCardContainer {
  padding: 0 !important;
}

.groupCardContainer {
  padding: 30px 0 0;

  @screen lg {
    padding-top: 60px;
  }
}

.serviceContainer {
  @screen lg {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.highlightHeading {
  margin-top: 15px;
  text-transform: uppercase;
}

.highLightDescription {
  > p {
    &:first-child {
      margin-top: 30px;
    }
    &:last-child {
      margin-top: 20px;
    }
  }
}

.highlightDescriptionSecond {
  margin-bottom: 40px;
  > p {
    margin-top: 20px;
    &:last-child {
      margin-top: 10px;
    }
    &:not(:first-child) {
      &::before {
        content: "•";
        margin-right: 15px;
      }
    }
  }
}

.cardWrapper_Highlight {
  flex-direction: unset;
  padding: 15px 0;

  @screen lg {
    padding: 0 15px;
  }
}

.productCardRowContainer {
    padding: 0;

    @screen lg {
        margin-top: 30px;
    }
}

.productImg {
    @apply w-full;
    @apply h-full;
    @apply object-cover;
}

.contentFeedbackWrapper {
    display: block !important;
    > img {
      top: 0;
      left: 0;
    }
    @screen lg {
      display: flex;
    }
}
  
.contentFeedbackContainer {
    margin: 0 auto;
    p {
      text-align: center;
    }
}

.cardFeedbackContainer {
    display: flex;
    justify-content: space-between;
    padding: 40px 30px;
    min-height: 438px;

    .contentCardFeedback {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        > h5 {
         margin-top: 26px;
        }
        > p {
            margin-top: 12px;
        }
    }

    @screen lg {
      
    }
}

.feedbackCarousel {
    margin-top: 30px;
    align-self: stretch;
    
     [class*="slick-track"] {
       align-items: center;
       display: flex;
     }
    
     [class*="slick-slide"] {
        margin: 0 15px;
        // max-width: 570px;
      }
    
      [class*="slick-next"] {
        width: 40px;
        height: 40px;
        right: -5px;
        border-radius: 20px;
        overflow: hidden;
        &::before {
          content: "";
          background-image: url("/icons/arrow-right.svg");
          background-repeat: no-repeat;
          background-position: center;
          @apply text-white;
          @apply bg-yellow-500;
          opacity: 1;
          width: 40px;
          height: 40px;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    
      [class*="slick-prev"] {
        width: 40px;
        height: 40px;
        left: -5px;
        border-radius: 20px;
        overflow: hidden;
        z-index: 2;
        &::before {
          content: "";
          background-image: url("/icons/arrow-right.svg");
          background-repeat: no-repeat;
          background-position: center;
          transform: rotate(180deg);
          @apply text-white;
          @apply bg-yellow-500;
          opacity: 1;
          width: 40px;
          height: 40px;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          display: flex;
        }
      }
    
      @screen lg {
        margin-top: 60px;
      }
}

.slickDots {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    li {
      width: 30px;
      height: 6px;
      margin-left: 5px;
      margin-right: 5px;
      background-color: rgba(#fff, 0.3);
      > button {
        opacity: 0;
        width: 100%;
        height: 100%;
      }
    }
  
    [class*="slick-active"] {
      @apply bg-yellow-500;
    }
  
    @screen lg {
      margin-top: 50px;
    }
}

.cardFeedbackAvatar {
    @apply object-cover;
    width: 64px;
    height: 64px;
    border-radius: 45px;
    margin-top: 20px;

    @screen lg {
      margin-top: 30px;
    }
}
  