.highLightFirst {
    height:calc(100vw / 2);
}

.cardWrapper {
    flex-direction: unset;
    border-radius: 30px;
    overflow: hidden;
}

.productCardRowContainer {
    padding: 0;

    @screen lg {
        margin-top: 30px;
    }
}
