@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    line-height: 24px;
    font-size: 15px;
    scroll-behavior: smooth;
    @apply bg-black;
}

a {
    color: #0070f3;
    text-decoration: none;
}

button:focus {
    outline: none;
}

button:active {
    outline: none;
}

.max-w-app-width {
    max-width: 1170px;
}

.btn {
  @apply bg-yellow-500;
  @apply px-btn-x;
  @apply py-btn-y;
  @apply text-white;
  line-height: 20px;
  border-radius: 10px;

  &:hover {
    @apply bg-yellow-800;
  }

  > p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  span {
    @apply text-white;
    line-height: 20px;
  }
}

h1 {
  @apply font-bold;
  line-height: 44px;
  font-size: 32px;
}

h3 {
  @apply font-bold;
  @apply text-white;
  line-height: 33px;
  font-size: 24px;
}

h6 {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;

  @screen lg {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
  }
}

h5, h6 {
  @apply text-white;
}

.input {
  @apply bg-neutral-950;
  @apply text-white;
  padding: 15px;
  border: 1px solid #262626;
  border-radius: 10px;
}

p, ul > li {
  font-weight: 400;
  color: #d1d5db;
  font-size: 15px;
  line-height: 24px;
}

.textScript {
  @apply font-bold;
  font-size: 24px;
  line-height: 29px;
  color: $primary-color;
}

.flexContainer {
  @apply flex;
  @apply flex-col;
  @apply relative;
  padding: 50px 20px;

  @screen lg {
    @apply flex-row;
    @apply justify-center;
    padding: 100px 15px;
  }
}

.floatFlex {
  @apply flex;
  @apply flex-1;
  @apply flex-col;
  @apply justify-center;
  @apply relative;
  z-index: 1;
}

@mixin stickyBtn {
  position: fixed;
  bottom: 40px !important;
  z-index: 9999;
}

.stickyBtn {
  @include stickyBtn();
}

/** Your own styles for image lazy static */
.blurImage {
    filter: blur(0);

    img {
      filter: blur(25px);
    }
}
  
.blur-up {
  -webkit-filter: blur(25px);
  filter: blur(25px);
  transition: filter 400ms, -webkit-filter 400ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}